/* import fonts url */
@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Archivo:wght@600&family=Bakbak+One&family=Big+Shoulders+Display:wght@700&family=Dancing+Script&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Inter:wght@400;700&family=Josefin+Sans:ital,wght@0,200;0,400;1,300;1,500&family=Josefin+Slab&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;700&family=Lexend+Deca:wght@400;700&family=Lobster&family=Lora:wght@700&family=Michroma&family=Montserrat+Alternates&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&family=Nanum+Gothic&family=Outfit:wght@400;600;700&family=Poppins:wght@600&family=Red+Hat+Display:wght@500;900&family=Roboto+Condensed:wght@700&family=Rowdies&family=Satisfy&family=Seymour+One&family=Signika+Negative:wght@300&family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Archivo:wght@600&family=Bakbak+One&family=Big+Shoulders+Display:wght@700&family=Dancing+Script&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Inter:wght@400;700&family=Josefin+Sans:ital,wght@0,200;0,400;1,300;1,500&family=Josefin+Slab&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;700&family=Lexend+Deca:wght@400;700&family=Lobster&family=Lora:wght@700&family=Michroma&family=Montserrat+Alternates&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&family=Nanum+Gothic&family=Open+Sans&family=Outfit:wght@400;600;700&family=Poppins:wght@600&family=Red+Hat+Display:wght@500;900&family=Roboto+Condensed:wght@700&family=Rowdies&family=Satisfy&family=Seymour+One&family=Signika+Negative:wght@300&family=Space+Grotesk:wght@300&display=swap');

 /* main code */
*{
    box-sizing:border-box;
}
/* background img add */
body{
    background-image:url(bg-desktop.svg);
    background-repeat:no-repeat;
    background-color: hsl(257, 40%, 49%);
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.logo{
    padding:70px;
}
.content-img img{
    padding:50px;
}
h1{
    width:450px;
    font-size:40px;
    font-family: 'Poppins', sans-serif;
}

p{
    width:480px;
    line-height:25px;
    color:lightgray;
    font-family: 'Open Sans', sans-serif;
}
.flex{
    display: flex;
}
.logo-content{
    margin-top:80px;
    color:white;
}
.btn-1 button{
    font-size:16px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:50px;
    padding-right:50px;
    border-radius:30px;
    color:hsl(257, 40%, 49%);
    box-shadow:1px 1px 15px purple;
    margin-top:15px;
}
.btn-1 button:hover{
    background-color:hsl(300, 69%, 71%);
    color:white;
    transition:0.4s;
    font-size:20px;
}
a{
    color:white;
    border-style:solid;
    border-width:1px;
    padding:10px;
    border-radius:50%;
    width:40px;
    height:40px;
    text-align: center;
}
.bars{
    word-spacing:20px;
    float:right;
    margin-top:-100px;
}
html,body{
    max-width:100%;
    overflow-y:hidden;
    overflow-x: hidden;
}

/* media Queries */

  @media (max-width:1300px) {
    .content-img img{
        height:500px
    }
  }
  @media (max-width:1150px) {
    .content-img img{
        height:400px;
    }
        .content-img img{
            padding:50px;
    }
    .logo{
        padding:50px;
    }
    .logo-content{
        margin-top:30px;
    }
    h1{
        font-size:25px;
        width:300px;
    }
    p{
        font-size:14px;
        width:430px;
    }
    .btn-1 button{
        font-size:10px;
    }
    .btn-1 button:hover{
        font-size:15px;
    }

  }
  @media (max-width:960px) {
    .content-img img{
        height:350px;
    }
    .logo img{
        height:50px;
    }
        .content-img img{
            padding:30px;
    }
    .logo{
        padding:30px;
    }
    .logo-content{
        margin-top:30px;
    }
    h1{
        font-size:20px;
        width:250px;
    }
    p{
        font-size:12px;
        width:350px;
    }
    .btn-1 button{
        font-size:9px;
    }
    .btn-1 button:hover{
        font-size:12px;
    }

  }
  @media (max-width:830px) {
    .content-img img{
        height:300px;
    }
    .logo img{
        height:40px;
    }
        .content-img img{
            padding:20px;
    }
    .logo{
        padding:20px;
    }
    .logo-content{
        margin-top:30px;
    }
    h1{
        font-size:17px;
        width:200px;
    }
    p{
        font-size:10px;
        width:300px;
    }
    .bars{
        margin-top:-30px;
    }


  }
  @media (max-width:710px) {
    body{
        background-image:none;
        background-image:url(bg-mobile.svg);
        background-repeat:no-repeat;
        background-size:800px;
  
      }
      .flex{
          flex-direction: column;
      }
      .logo img{
        height:60px;
      }
      .content-img img{
        height:400px;
    }
    h1{
        float: center;
        font-size:35px;
        width:500px;
        padding-left:80px;
    }
    .logo{
        padding:20px;
        margin-top:150px;
    }
    html,body{
        overflow-y:scroll;
        padding-bottom:10px;
    }
    p{
        font-size:20px;
        text-align: center;
        width:500px;
    }
    .btn-1 button{
        text-align: center;
        margin-left:170px;
        font-size:20px;
    }
    .btn-1 button:hover{
        font-size:23px;
        transition:0.4s;
    }
    .bars{
        margin-top:70px;
        text-align: center;
        padding-right:200px;
    }
  }
@media (max-width:510px) {
    .logo img{
        height:40px;
        padding-left:40px;
    }
    .logo{
        margin-top:-60px;
    }
    .content-img img{
        height:270px;
        padding-left:40px;
    }
    body{
        background-size:500px;
    }
    h1{
        font-size:25px;
        width:400px;
        padding-left:70px;
    }
    p{
        font-size:14px;
        width:360px;
        padding-left:50px;
        color: white;
    }
    .btn-1 button{
        margin-left:110px;
        padding-left:60px;
        padding-right:60px;
        font-size:17px;
    }
    .btn-1 button:hover{
        font-size:20px;
        transition:0.4s;
    }
    .bars{
        margin-top:60px;
        text-align: center;
        padding-right:120px;
    }
}
@media (max-width:330px) {
    .logo img{
        height:30px;
    }
    .logo{
        margin-top:-150px;
    }
    .content-img img{
        height:230px;
        padding-left:45px;
    }
    h1{
        font-size:16px;
        width:270px;
        margin-left:25px;
    }
    p{
        font-size:11px;
        padding-right:60px;
    }
    .btn-1 button{
        margin-left:90px;
    }
    .bars{
        padding-right:90px;
    }
}
  /* end of code */
  
  
  